{% extends "base.html" %}
{% block title %} Web Scraping | {{page_title}} {% endblock title %}
{% block content %}
{% load crispy_forms_tags %}

<div class="container">
  <div class="row">
    <!-- Blog Entries Column -->
    <div class="col-md-8 card mb-4  mt-3 ">
      <div class="card-body">        
        <h3>Contact Us</h3>        
        <form method="post" style="margin-top: 1.3em;">
          {{ contact_form | crispy }}
          {% csrf_token %}
          <button type="submit" class="btn btn-primary  btn-lg">Submit</button>
        </form>        
      </div>
    </div>
    {% block sidebar %}
    {% include 'sidebar.html' %}
    {% endblock sidebar %}
  </div>
</div>



{%endblock%}
