{% load static %}
<!DOCTYPE html>
<html>
<head>
<title>Henry Bui - Curriculum Vitae</title>

<meta name="viewport" content="width=device-width"/>
<meta name="description" content="The Curriculum Vitae of Henry Bui."/>
<meta charset="UTF-8"> 

<link type="text/css" rel="stylesheet" href="{% static 'css/cv_style.css' %}">
<link href='https://fonts.googleapis.com/css?family=Rokkitt:400,700|Lato:400,300' rel='stylesheet' type='text/css'>

<!--[if lt IE 9]>
<script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
<![endif]-->
</head>
<body id="top">
<div id="cv" class="instaFade">
    <div class="mainDetails">
        <div id="headshot" class="quickFade">
            <img src="{% static 'images/headshot.jpg' %}" alt="Alan Smith" />
        </div>
        
        <div id="name">
            <h1 class="quickFade delayTwo">Henry Bui</h1>            
            <h2 class="quickFade delayThree">Senior Python Developer</h2>
        </div>
        
        <div id="contactDetails" class="quickFade delayFour">
            <ul>
                <li>Email: <a href="mailto:tubnd.younet@gmail.com" target="_blank">tubnd.younet@gmail.com</a></li>
                <li>Website: <a href="https://webscrapingnow.com" target="_blank">www.webscrapingnow.com</a></li>
                <li>Mobile: (+84) 373364339</li>
            </ul>
        </div>
        <div class="clear"></div>
    </div>
    
    <div id="mainArea" class="quickFade delayFive">
        <section>
            <article>
                <div class="sectionTitle">
                    <h1>Personal Profile</h1>
                </div>
                
                <div class="sectionContent">
                    <p>
                        I am a passionate and proficient Python/PHP Developer with 5+ years experience producing
                        code to a consistently high standard. I'm strong at Back-End and focusing on Web Scraping, 
                        Scripting & Automation, Django, API Development
                    </p>
                </div>
            </article>
            <div class="clear"></div>
        </section>
        
        
        <section>
            <div class="sectionTitle">
                <h1>Work Experience</h1>
            </div>
            
            <div class="sectionContent">
                <article>
                    <h2>Freelancer</h2>
                    <p class="subDetails">Jan 2017 - Present</p>
                    <p>
                        Working on:
                        <ul class="skill-list">
                            <li>
                                Web Scraping/ Crawling/ Data Mining/ Text mining/ ETL / Automated Data Extraction solutions.
                            </li>
                            <li>
                                Scripting & Automation
                            </li>
                            <li>
                                Web Backend with Python/Django/Flask/Node.js/PHP
                            </li>
                            <li>
                                API Development with Django Rest Framework (DRF) / Amazon API Gateway           
                            </li>
                        </ul>
                    </p>
                </article>
                <hr/>
                <article>
                    <h2>Senior Developer at Hidden Spark Pty Ltd.</h2>
                    <p class="subDetails">Jan 2015 - Dec 2016</p>
                    <p>
                        Developed, deployed a wide range of websites, such as University/Students Management System, using LAMP stack, Yii, Django, Postgre, intergrate payment gateway such as Paypal, Authorize.net, AWS
                    </p>                    

                </article>
                <hr/>
                <article>
                    <h2>Senior Developer at WashinEngine Co., Ltd.</h2>
                    <p class="subDetails">Jun 2013 - Dec 2014</p>
                    <p>
                        Developed, deployed a wide range of E-commerce websites using LAMP stack, Yii, Postgre, Google Map API, Google Chart API, AWS
                    </p>
                </article>
                <hr/>
                <article>
                    <h2>Senior Developer at Younet Co., Ltd.</h2>
                    <p class="subDetails">Jan 2011 - May 2013</p>
                    <p>
                        Developed, deployed a wide range of websites such as online booking services, Social Network
                        websites using social platforms: SocialEngine, phpFox
                    </p>                    

                </article>
            </div>
            <div class="clear"></div>
        </section>
        
        
        <section>
            <div class="sectionTitle">
                <h1>Key Skills</h1>
            </div>
            
            <div class="sectionContent">
                <ul class="keySkills">
                    <li>Python ( Django / Flask )</li>
                    <li>PHP ( Yii 2 / Yii2)</li>
                    <li>Node.js / Express.js / Ejs</li>
                    <li>Javascript/Jquery</li>
                    <li>HTML/HTML5</li>
                    <li>CSS/Bootstrap</li>

                    <li>Mongodb / mongoose</li>
                    <li>DynamoDB, AirTable</li>
                    <li>MySQL, PostgreSQL</li>
                    <li>MS SQL</li>
                    <li>Database design</li>
                    <li>SQL programming</li>                                    
                    
                    
                    
                    <li>Restful API</li>
                    <li>Django Rest Framework</li>
                    <li>Amazon API Gateway</li>
                    
                    <li>Amazon Web Services</li>
                    <li>Amazon S3</li>
                    <li>AWS Lambda</li>
                    <li>AWS lambda API</li>

                    <li>Git</li>
                    <li>Gitlab CI/CD</li>
                    <li>Unix/Linux/Windows</li>
                    <li>Apache, Nginx</li>
                    <li>Paypal/Authorize.Net</li>
                    
                </ul>
            </div>
            <div class="clear"></div>
        </section>

        <section>
            <div class="sectionTitle">
                <h1>Other Skills</h1>
            </div>
            
            <div class="sectionContent">
                <ul class="key-other-Skills">
                    <li>- Good logic thinking and problem solving</li>
                    <li>- Positive thinking and spirit of challenge</li>
                    <li>- Good teamwork skills and able to handle pressure</li>
                    <li>- Ability to work independently to meet deadlines</li>
                    <li>- Careful, highly organized and self-learning attitude</li>
                    <li>- Ability to self study, update new technology quickly</li>
                    <li>- Good at technical English</li>                    
                </ul>
            </div>
            <div class="clear"></div>
        </section>
        
        
        <section>
            <div class="sectionTitle">
                <h1>Education</h1>
            </div>
            
            <div class="sectionContent">
                <article>
                    <h2>
                        Vietnam National University HCMC
                        <br/> University of Information Technology
                    </h2>
                    <p class="subDetails">Bachelor of Engineering (BEng.)</p>
                    <p>Majored in Information Systems</p>
                </article>
            </div>
            <div class="clear"></div>
        </section>
        
    </div>
</div>
<script type="text/javascript">
</script>
</body>
</html>