{% extends "base.html" %}

{% block content %}


<!--header class="masthead">
  <div class="overlay"></div>
  <div class="container">
    <div class="row">
      <div class=" col-md-8 col-md-10 mx-auto">
        <div class="site-heading">
          <h3 class=" site-heading my-4 mt-3 text-white"> We're Web Scraping Experts</h3>
          <p class="text-light">We help you on web scraping, data extraction, web automation and more... <a href="/page/services">&rarr;</a> &nbsp
          </p>
        </div>
      </div>
    </div>
  </div>
  </div>
</header-->

{% include 'post_list.html' %}

{%endblock%}